.sidebar-wrapper {

    .sidebar-header {
        padding: 20px;
        overflow: hidden;

        .user-pic {
            width: 60px;
            padding: 2px;
            margin-right: 15px;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

       

    }
}